# Copy this to your manually create backend/ .env file
DATABASE_URL=<URL_TO_DB>
JWT_SECRET_KEY=<SECRET_KEY>

# Test credentials, modify to your own details 
ADMIN_EMAIL=admin@mycput.ac.za
ADMIN_PASSWORD=ChangeMe123!
DEMO_SEED=true //change to false to demo seeding(change this if you know what you are doing).
APP_ENV=development

# --Activate to understand more about the backend or when testing new stuff

#CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
#REQUIRE_BOOKING_FOR_REVIEW=false
# FLAG_THRESHOLD=3